/*タブレット用ウィンドウサイズ*/
@media(max-width:1000px){
  header a{
    padding: 0 10px;
  }

  #text,#text2,#text3,#text4{
    font-size:7em;
  }

  header:hover{
    background: linear-gradient(to bottom, #000000, transparent);
  }
  header a:hover{
    color:rgb(212, 212, 212);
  }
  
  .menu-icon:hover{
    color:rgb(212, 212, 212);
  }
}

/*スマートフォン用ウィンドウサイズ*/
@media(max-width:670px){
  #header-right a{
    display:none;
  }
  .menu{
    display:block;
  }

  #text,#text2,#text3,#text4{
    font-size:5em;
  }
  .About-contents{
    font-size:16px;
  }

  #Contact-contents{
    width:60%;
  }

  .About-contents img{
    width:70%;
  }
  header:hover{
    background: linear-gradient(to bottom, #000000, transparent);
  }
  header a:hover{
    color:rgb(212, 212, 212);
  }
  
  .menu-icon:hover{
    color:rgb(212, 212, 212);
  }
}
